<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.RemoveCartItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.OrderConfirmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfirmBuyServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.ConfirmBuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumListServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.AlbumListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminAlBumListServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.AdminAlBumListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumEditServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.AlbumEditServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumSaveServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.AlbumSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAlbumServlet</servlet-name>
    <servlet-class>com.musicstore.servlet.AddAlbumServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <url-pattern>/RemoveCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <url-pattern>/OrderConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmBuyServlet</servlet-name>
    <url-pattern>/ConfirmBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumListServlet</servlet-name>
    <url-pattern>/AlbumListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAlBumListServlet</servlet-name>
    <url-pattern>/admin/AdminAlBumListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumEditServlet</servlet-name>
    <url-pattern>/admin/AlbumEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumSaveServlet</servlet-name>
    <url-pattern>/admin/AlbumSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAlbumServlet</servlet-name>
    <url-pattern>/AddAlbumServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
